<div class="row">
    <p>{{title}}</p>
    <table class="highlight col s12">
        <thead>
        <tr>
            <th>Airline Name</th>
            <th>Flight Number</th>
            <th>Departure Airport</th>
            <th>Departure Time</th>
            <th>Arrival Airport</th>
            <th>Arrival Time</th>
            <th>Price</th>
            <th>Status</th>
            <th>Customer Name</th>
        </tr>
        </thead>
        <tbody>
        {{#each results}}
            <tr>
                <td>{{this.airline_name}}</td>
                <td>{{this.flight_num}}</td>
                <td>{{this.departure_airport}}</td>
                <td>{{this.departure_time}}</td>
                <td>{{this.arrival_airport}}</td>
                <td>{{this.arrival_time}}</td>
                <td>{{this.price}}</td>
                <td class="{{this.status}}">{{this.status}}</td>
                <td>{{this.name}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>
<div class="row">
    <form action="/{{user.type}}/flights" method="post" class="col s12 center-align">
        <div class="input-field col s6">
            <label for="source_airport">Enter your departure airport: </label>
            <input type="text" name="depart_airport" id="depart_airport" required>
        </div>
        <div class="input-field col s6">
            <label for="dest_airport">Enter your arrival airport: </label>
            <input type="text" name="arrive_airport" id="arrive_airport" required>
        </div>
        <div class="input-field col s6">
            <label for="date">Enter beginning search date</label>
            <input type="text" id="date" name="begin" class="datepicker">
        </div>
        <div class="input-field col s6">
            <label for="date2">Enter ending search date</label>
            <input type="text" id="date2" name="end" class="datepicker">
        </div>
        <button class="btn waves-effect waves-light" type="submit">Submit
            <i class="material-icons right">send</i>
        </button>
    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.datepicker');
        var instances = M.Datepicker.init(elems, {format: "yyyy-mm-dd"});
    });
</script>